<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
  </head>
  <body>
    <% include ../layout/landing_header %>

    <div class="parallax-container">
      <div class="parallax"><img src="/images/caregiver.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">

        <p class="flow-text">
          Care coordination and management encompasses a cultural shift from our focus of periodic , acute care visits to a more comprehensive view of managing care for those with complex conditions and chronic diseases.
        </p>

        <p class="flow-text">
          The complexities of the current healthcare system can make coordinating the care a patient receives from different providers and facilities a challenge.
          In some instances, patients are unsure why they are referred, how to make appointments, and what to do next.
        </p>

        <p class="flow-text">
          Communication failures within health programs can be a source of frustration for all parties when information is inadequately managed or a patient is sent to the wrong location for services.
        </p>

        <p class="flow-text">
          Helm™ (Health Evaluation & Lifestyle Management) is a software application, developed to assist in the removal of barriers that can hinder the delivery of quality care.
          Helm™ provides a central resource for patient navigation and care coordination.
          Helm™ is a web based application that can be used with any mobile device, tablet, or desktop connected to the internet.
        </p>

        <p class="flow-text">
          Healthcare providers can view a patient's progress real-time and review the status of other specialists who their patients have been referred.
          Helm™, provides continual communication between all parties involved and provides an intuitive work flow to effectively manage essential information.
        </p>

      </div>
      <div class="row container">
        <div class="col s8 offset-s4">
          <a href="https://www.forgeddev.com/s/Helm-Care-Program_v5.pdf" class="waves-effect waves-light btn-large pink">Learn More</a>
        </div>
      </div>
    </div>


    <div class="parallax-container">
      <div class="parallax"><img src="/images/real_helm.png"></div>
    </div>
    <div class="section white">
      <div class="row container">

        <h3 class="header">
          What does it cost?
        </h3>

        <p class="flow-text">
          The price of Helm is based on the size of the server needed to support your operation.
          Clients come in all shapes and sizes.
          Forged Development has an affordable option for you.
          Most configurations are less than the cost of a full time employee.
          The efficiency, mobility, and easy of use make Helm a great value.
        </p>

        <p class="flow-text">
          Helm can be paid yearly, quarterly, or monthly; use your department credit card and keep the miles.
          The contract is an easy to read two pager that your purcurement department will adore.
          The terms are more fair than your cellphone provider and you can cancel with 30 days notice.
          At Forged Development, we try to make buying software easy.
        </p>

        <h3 class="header">
          Can it be modified to meet our needs?
        </h3>

        <p class="flow-text">
          We build enterprise grade web applications that are designed to be modified.
          We can and will branch the code to make modifications to meet your needs while providing quarterly updates of new features and expanded reporting.
        </p>
        <p class="flow-text">
          You are not buying a freezen set of features; you are buying the living breathing application that grows with the industry.
        </p>

        <h3 class="header">
          How to get started?
        </h3>

        <p class="flow-text">
          We need to talk to you and your team.
          Shoot us an e-mail and we will setup a webinar.
          We can walk you through the product and discuss your program.
        </p>

        <p class="flow-text">
          No topics are off limits.
          Ask us about security, HIPPA data, scalability, and price.
          Bring your technical people, bring your nurses, bring whoever you need; because, we are ready.
        </p>

        <p class="flow-text">
          You will receive access to an exclusive stock demo site during the webinar.
          Use it for a week see if you like it.
          If you do, we can stand up a complete system in 24hrs.
        </p>

        <p class="flow-text">
          Helm is your solution. Let's hammer this out.
        </p>

      </div>
      <div class="row container">
        <div class="col s8 offset-s4">
          <a href="https://www.forgeddev.com/contact-us/" class="waves-effect waves-light btn-large green">Contact Us</a>
        </div>
      </div>
    </div>


    <div class="parallax-container">
      <div class="parallax"><img src="/images/code.jpeg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h3 class="header">
          What other products do we offer?
        </h3>

        <p class="flow-text">
          Check out our website for our other products.
          Some are complete; others are still being forged.
          We specialize in building hardened secured web applications.
          If you have an idea and are looking for a partner to make it real, contact us.
        </p>

      </div>
      <div class="row container">
        <div class="col s8 offset-s4">
          <a href="https://www.forgeddev.com/products/" class="waves-effect waves-light btn-large red">Other Products</a>
        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
    </script>

    <% include ../layout/footer %>
  </body>
</html>
