<div class="col s12 m6">
  <div class="card horizontal">
    <div class="card-image">
      <img src="/images/girl_card.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <strong>Patients</strong>
        <p class="hide-on-small-only">
          Manage patient directory.
        </p>
      </div>
      <div class="card-action">
        <a href="/patient/search"><i class="fg-green fa fa-search fa-2x" aria-hidden="true"></i></a>
        <!-- <a class="desktop" href="/patient/listing/1/20"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a class="tablet" href="/patient/listing/1/5"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a class="phone" href="/patient/listing/1/1"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a> -->
        <!-- <a href="/report/item"><i class="fg-orange small material-icons">trending_up</i></a>
        <a href="/settings/item"><i class="fg-purple small material-icons">settings</i></a>
         -->
      </div>
    </div>
  </div>
</div>
