<div class="col s12">
  <div class="card horizontal">
    <div class="card-image">
      <img src="/images/user.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <strong>User</strong>
        <p class="hide-on-small-only">
          Information about user accounts.
        </p>
      </div>
      <div class="card-action">
        <a class="desktop" href="/user/listing/1/20"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a class="tablet" href="/user/listing/1/5"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a class="phone" href="/user/listing/1/1"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a href="/report/user"><i class="fg-orange small material-icons">trending_up</i></a>
        <a href="/settings/user"><i class="fg-purple small material-icons">settings</i></a>
      </div>
    </div>
  </div>
</div>
