<div class="col s12 m6">
  <div class="card horizontal">
    <div class="card-image">
      <img src="/images/calendar.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <strong>Calendar</strong>
        <p class="hide-on-small-only">
          Shared calendar for all patients and users.
        </p>
      </div>
      <div class="card-action">
        <a href="/calendar/main"><i class="fg-green fa fa-calendar fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
