<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
  </head>
  <body>
    <% include ../layout/header %>

    <main>
      <div class="row">

        <div class="col s12">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">

                <h4>Body Composition</h4>
                <span>
                  <a href="/bodyComposition/cards"><i class="fg-light-blue small material-icons">skip_previous</i></a>
                  <a id="bodyCompositionMetaDataToggle" href="#"><i class="icon-go small material-icons">info_outline</i></a>
                </span>


                <form autocomplete="off" id="bodyCompositionForm" class="" action="/bodyComposition/save" method="post">

                  <fieldset class="meta-data" style="display: none;">
                    <legend>Meta Data</legend>
                    <div class="row">
                      <div class="input-field col s12 m4">
                        <input id="recordId" name="recordId" type="text" readonly>
                        <label for="recordId">Record ID</label>
                      </div>
                      <div class="input-field col s12 m4">
                        <input id="parentId" name="parentId" type="text" readonly>
                        <label for="parentId">Parent ID</label>
                      </div>
                      <div class="input-field col s12 m4">
                        <input id="isDeleted" name="isDeleted" type="text" readonly>
                        <label for="isDeleted">Is Deleted</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 m6">
                        <input id="createdOn" name="createdOn" type="text" readonly>
                        <label for="createdOn">Created On</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input id="updatedOn" name="updatedOn" type="text" readonly>
                        <label for="updatedOn">Updated On</label>
                      </div>
                    </div>
                  </fieldset>

                  <div class="row">
                    <div class="input-field col s6">
                      <input id="when" name="when" type="date" class="validate">
                      <label class="active" for="when">When</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="whenTime" name="whenTime" type="Time" class="validate">
                      <label class="active" for="whenTime">Time</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s6">
                      <input id="height" name="height" type="number" step="0.01">
                      <label for="height">Height</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="weight" name="weight" type="number" step="0.01">
                      <label for="weight">Weight</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s6">
                      <input id="bmi" name="bmi" type="number" step="0.01">
                      <label for="bmi">BMI</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="bodyFat" name="bodyFat" type="number" step="0.01">
                      <label for="bodyFat">Body Fat</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="summary" name="summary" class="materialize-textarea"></textarea>
                      <label for="summary">Summary</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="notes" name="notes" class="materialize-textarea"></textarea>
                      <label for="notes">Notes</label>
                    </div>
                  </div>


              </div>
              <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit">Save</button>
                <a class="btn waves-effect waves-light" href="/bodyComposition/cards">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>

    </main>

    <script type="text/javascript">
    $(document).ready(function() {
      var reference = <%-JSON.stringify(reference)%>

      var bodyCompositionEntryForm = new MountainComplexEntryForm({
        "model": 'bodyComposition'
      });

      if( reference && reference.model) {
        bodyCompositionEntryForm.load( reference.model);
      } else if( reference && reference.parent){
        $("#bodyCompositionForm #parentId").val(reference.parent.recordId);

        var currentDate = new Date()
          , strDate = moment(currentDate).format('YYYY-MM-DD')
          , strTime = moment(currentDate).format('HH:mm');
        $("#bodyCompositionForm #when").val(strDate);
        $("#bodyCompositionForm #whenTime").val(strTime);
      }


      // Update Drop Downs
      $('select').material_select();
    });


    </script>

    <% include ../layout/footer %>
  </body>
</html>
