<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
  </head>
  <body>
    <% include ../layout/header %>

    <main>

      <div class="row container">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-image">
              <img src="/images/padlock.jpeg">
              <span class="card-title">Login</span>
            </div>
            <div class="card-content">
              <form autocomplete="off" id="loginForm" class="" action="/authenticate" method="post">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email" data-error="invalid" data-success="valid">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light pull-right" type="submit">Login</button>
                  <!-- <a href="/forgotPassword">Forgot Password</a> -->
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </main>
    <script type="text/javascript">
    $(document).ready(function() {
      MountainComplexBase.addSubmitHandler('#loginForm', '/home');
    });
    </script>

    <% include ../layout/footer %>
  </body>
</html>
