<div class="col s12 m6">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <strong>Demographics</strong> (<i>UNDER CONSTRUCTION, User Configured</i>)
        <p class="hide-on-small-only">
          Gender, race, veteran status, ethinic associations, etc.
        </p>
      </div>
      <div class="card-action">
        <a href="#"><i class="fg-light-orange fa fa-list fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
