<div class="col s12">
  <div class="card horizontal">
    <div class="card-image">
      <img src="/vendor/mountain_complex/images/card_standard_blue.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <strong>Items</strong>
        <p class="hide-on-small-only">
          Manage directory of items.
        </p>
      </div>
      <div class="card-action">
        <a class="desktop" href="/item/listing/1/20"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a class="tablet" href="/item/listing/1/5"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a class="phone" href="/item/listing/1/1"><i class="fg-light-blue fa fa-table fa-2x" aria-hidden="true"></i></a>
        <a href="/report/item"><i class="fg-orange small material-icons">trending_up</i></a>
        <a href="/settings/item"><i class="fg-purple small material-icons">settings</i></a>
      </div>
    </div>
  </div>
</div>
