<div class="col s12 m6">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <strong>Medication</strong>
        <p class="hide-on-small-only">
          List of patient's medications.
        </p>
      </div>
      <div class="card-action">
        <a href="/medication/cards"><i class="fg-light-orange fa fa-list fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
