<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
  </head>
  <body>
    <% include ../layout/header %>

    <main>

      <div class="row container">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-image">
              <img src="/images/real_helm_640.png">
              <span class="card-title">Thank You</span>
            </div>
            <div class="card-content">
              <p class="flow-text">
                We appreciate you as a resource for our patients.
                Together, we are making lives better.
                Your contribution and transparency are paramount to our success.
                Thank you for all that you do.
              </p>
              <p class="flow-text">
                <br />
                <br />
                Sincerely,
                <h3><%= constants.program_name %></h3>
              </p>
            </div>
          </div>
        </div>

      </div>
    </main>

    <script type="text/javascript">
    $(document).ready(function() {

    });
    </script>

    <% include ../layout/footer %>
  </body>
</html>
